.mini-nav {
  margin-left: 90px;
  margin-top: 15px;
}

.each-nav {
  display: block;
}

.each-link {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  color: #3680B6;

}

/* hovering link colors... */
.each-nav a:link {
}
.each-nav a:visited {

}
.each-nav a:hover {
  color: #3680B6;
  text-decoration: none;
}
.each-nav a.active {
}

h3 {
  margin-left: 128px;
}

.general-about {
  margin-left: 128px;
  margin-right: 120px; 
}
